*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1080px;
    margin: 8px auto;
}

header{
    margin-top: 24px;
    text-align: center;
    font-weight: bold;
}

main{
    display: flex;
    margin-top: 42px;
    text-align: center;
}

form{
    background-color: rgb(72, 0, 167);
    width: 30%;
    margin: auto;
    padding: 20px;
    border-radius: 16px;
    border: solid 2px rgb(24, 0, 133);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.267);
}

input, button{
    display: block;
    padding: 8px;
    margin: auto;
    margin-top: 20px;
    width: 70%;
    border-radius: 5px;
    border: none;
}

button{
    cursor: pointer;
    background-color: rgb(0, 119, 255);
    color: white;
}

button:hover{
    background-color: rgb(154, 172, 0);
}

p{
    margin-top: 20px;
    font-size: 40px;
}

